@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply scroll-smooth
}

/* header {
    background-image: url('/src/assets/logo.jpg');
} */

h1 {
    text-shadow: 0 0 10px rgb(148, 3, 3), 0 0 20px rgb(148, 3, 3), 0 0 40px rgb(148, 3, 3), 0 0 80px rgb(148, 3, 3), 0 0 120px rgb(148, 3, 3), 0 0 200px rgb(148, 3, 3), 0 0 300px rgb(148, 3, 3);
}

::-webkit-scrollbar {
    display: none;
}